{% extends 'layout.html' %}

{% block pageTitle %}
  Advanced install guide - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Get started"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Advanced install guide</h1>

      <p>The kit is built on the <a href="http://expressjs.com/" rel="noopener">Express</a> framework, and uses <a href="https://github.com/nhsuk/nhsuk-frontend" rel="noopener">NHS.UK frontend</a>.</p>



      <h2>Requirements</h2>

      <p><a href="https://nodejs.org">Node.js</a> version 20 or higher.</p>

      {% include "install/_nhs-england-laptop-warning.html" %}

      <h2>Download the kit</h2>

      <p>The simplest way to get the kit is to <a href="/download" data-link="download">download it as a zip</a>.</p>

      <p>You can also clone or download a copy from <a href="https://github.com/nhsuk/nhsuk-prototype-kit">GitHub</a>.</p>


      <h2>Install dependencies</h2>




      <pre class="app-pre"><code class="app-code">npm install</code></pre>

      <h2 class="nhsuk-u-margin-top-7">Run the kit</h2>

      <pre class="app-pre"><code class="app-code">npm run watch</code></pre>

      <p>Go to <a href="http://localhost:3000">localhost:3000</a> in your browser.</p>

    </div>

  </div>
{% endblock %}
