{% extends 'layout.html' %}

{% block pageTitle %}
  Mac or Windows - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Install"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/install/mac" method="post">

        {% call fieldset({
          legend: {
            text: "What computer are you using?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
          "idPrefix": "machine",
          "name": "machine",
          "items": [
            {
              "value": "Mac",
              "text": "Mac"
            },
            {
              "value": "Windows",
              "text": "Windows"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "/install",
        "text": "Back to Install guide"
      }) }}

    </div>

  </div>
{% endblock %}
