{% extends 'layout.html' %}

{% block pageTitle %}
  Set up the prototype kit on an NHS England Windows laptop - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Get started"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Set up the prototype kit on an NHS England Windows laptop</h1>

      <p>If you have a Windows laptop issued by NHS England corporate IT, before you start any of the install guides you will need to:</p>

      <ol>
        <li>create a local folder in the right place for your code to work.</li>
        <li>install the software that you need.</li>
      </ol>


      <h2 class="nhsuk-heading-m">1. Create a local folder for your prototypes</h2>

      <p>Within the root of your OneDrive create a new folder named <code><strong>DevWspace</strong></code>.</p>

      <p>This folder name was added to an approved list to allow the creation of virtual environments and allow scripts to be executed.</p>

      <p>The path should look like this after you have created it:</p>

      <pre class="app-pre"><code class="app-code">"C:\Users\%username%\OneDrive - NHS\DevWspace"</code></pre>

      <p>Use this folder:</p>
        <ul>
        <li>for any prototypes that you make</li>
          <li>path for any software for your kit that asks for a ‘path’ - ask a developer on your team if you need help</li>
      </ul>


      <h2 class="nhsuk-heading-m">2. Install the software you need to use the kit</h2>

      <p>Go to the Company Portal application to install this software:</p>

      <ul>
        <li>Terminal</li>
        <li>Visual Studio Code</li>
        <li>Node.js and NPM</li>
        <li>Git for Windows</li>
        <li>Github Desktop</li>
      </ul>

      <p>You may need to restart your computer to finish installing the software.</p>

      <h2 class="nhsuk-heading-m">What to do next</h2>

      <p>After you have finished these steps you can continue to the <a href="/install/simple">install guide</a> or the <a href="/install/advanced">advanced install guide</a>.</p>

    </div>
  </div>
{% endblock %}
