{% extends 'layout.html' %}

{% block pageTitle %}
  Terminal - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/install",
        text: "Get started"
      }
    ],

    href: "/install/simple",
    text: "Install guide"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">Step 1 of 8{{[":", operatingSystem ] | join(" ") if operatingSystem }}</span>
        {% block branchingHeader %}Terminal{% endblock %}
      </h1>

      {% block branchingContent %}
      {% endblock %}

      <p>Once you have it open, keep it open and go to step 2.</p>

      {% block pagination %}
      {% endblock %}

    </div>

  </div>
{% endblock %}
