{% extends 'layout.html' %}

{% block pageTitle %}
  HTML text editor - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/install",
        text: "Get started"
      }
    ],

    href: "/install/simple",
    text: "Install guide"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">Step 3 of 8{{[":", operatingSystem ] | join(" ") if operatingSystem }}</span>
        HTML text editor
      </h1>

      <p class="nhsuk-lede-text">You'll need an HTML text editor to edit and make changes to your prototype.</p>

      <p>Any HTML text editor will do, but we recommend Visual Studio Code (also known as VS Code). This is because it is free and has lots of useful features.</p>

      <p><a href="https://code.visualstudio.com/Download" target="_blank" rel="noopener">Download Visual Studio Code (opens in new window)</a></p>

      <p>Once you have an HTML text editor installed, return to this guide.</p>

      {% block pagination %}
      {% endblock %}

    </div>

  </div>
{% endblock %}
