{% set pageTitle = "Create pages" %} {% set next = { "title" : "Link your pages
together" , "link" : "link-pages-together" } %} {% set prev = { "title" : "Open
your prototype in your editor" , "link" : "open-prototype-in-editor" } %} {%
extends 'how-tos/build-basic-prototype/_BASE.njk' %} {% block makePrototype %}

<p>Create pages by copying template files that come with the prototype kit.</p>
<h3 id="create-a-start-page">Create a start page</h3>
<p>
  Copy the <code class="language-markup">{{exampleStart.url}}.html</code> file
  from <code class="language-markup">docs/views/templates</code> to
  <code class="language-markup">app/views</code>.
</p>
<p>
  Preview the pages in your prototype by going to
  ht<span>tp</span>://localhost:3000/name-of-HTML-file in your web browser. For
  example,
  <a href="http://localhost:3000/{{exampleStart.url}}"
    >go to http://localhost:3000/{{exampleStart.url}}</a
  >
  to preview <code class="language-markup">{{exampleStart.url}}.html</code>.
</p>
<h4 id="change-the-service-name">Change the service name</h4>
<p>
  You'll normally edit the HTML to make changes to pages, but the service name
  is in a config file. This is so we can change it in one place to update it on
  every page in your prototype.
</p>
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Open the <code class="language-markup">config.js</code> file in your
    <code class="language-markup">app</code> folder.
  </li>
  <li>
    Change <code class="language-markup">serviceName</code> from "Service name
    goes here" to "{{exampleServiceName}}".
  </li>
  <li>
    Press <strong>Cmd+S</strong> on Mac or <strong>Ctrl+S</strong> on Windows to
    save your change.
  </li>
</ol>
<p>
  You must save every time you make a change to a file. In most code editors, a
  dot appears in the tab for any file that has unsaved changes.
</p>
<p>
  Normally your changes will automatically show in the browser without
  refreshing. But for this config change, you need to refresh the page. You
  should see your service name change on the Start page.
</p>
<h3 id="question-pages">Question pages</h3>
<p>
  Make 2 copies of the
  <code class="language-markup">question-page.html</code> file from
  <code class="language-markup">docs/views/templates</code> to
  <code class="language-markup">app/views</code>.
</p>
<p>Rename the 2 file copies to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">

  <li><code class="language-markup">{{exampleRadios.url}}.html</code></li>
  <li><code class="language-markup">{{exampleTextArea.url}}.html</code></li>
</ul>
<p>Go to the following URLs to check your pages:</p>
<ul class="nhsuk-list nhsuk-list--bullet">

  <li>
    <a href="http://localhost:3000/{{exampleRadios.url}}"
      >http://localhost:3000/{{exampleRadios.url}}</a
    >
  </li>
  <li>
    <a href="http://localhost:3000/{{exampleTextArea.url}}"
      >http://localhost:3000/{{exampleTextArea.url}}</a
    >
  </li>
</ul>
<p>
  In the <code class="language-markup">{{exampleRadios.url}}.html</code> file,
  change the text after <code class="language-markup">"legend": {
    "text": </code>
  from "Heading or question goes here" to "{{exampleRadios.title}}".
</p>
<p>
  In the <code class="language-markup">{{exampleTextArea.url}}.html</code> file,
  change the text after <code class="language-markup">"legend": {
    "text": </code>
  to "{{exampleTextArea.title}}".
</p>
<h3 id="{{exampleCheckAnswers.url}}-page">Check answers page</h3>
<p>
  Copy the
  <code class="language-markup">{{exampleCheckAnswers.url}}.html</code> file
  from <code class="language-markup">docs/views/templates</code> to
  <code class="language-markup">app/views</code>.
</p>
<p>
  Go to
  <a href="http://localhost:3000/{{exampleCheckAnswers.url}}"
    >http://localhost:3000/{{exampleCheckAnswers.url}}</a
  >
  to check.
</p>

<h3 id="confirmation-page">Confirmation page</h3>
<p>
  Copy the
  <code class="language-markup">{{exampleConfirmation.url}}.html</code> file
  from <code class="language-markup">docs/views/templates</code> to
  <code class="language-markup">app/views</code>.
</p>
<p>
  Go to
  <a href="http://localhost:3000/{{exampleConfirmation.url}}"
    >http://localhost:3000/{{exampleConfirmation.url}}</a
  >
  to check.
</p>

{% endblock %}
