{% set noCaption = true %}
{% set pageTitle = "Build a basic prototype using the NHS.UK prototype kit" %}

{% extends 'how-tos/build-basic-prototype/_BASE.njk' %}

{% block makePrototype %}

<p>
This tutorial shows you how to prototype a fictional '{{exampleServiceName}}' service that will:
</p>
<ul class="nhsuk-list nhsuk-list--bullet">
<li>
ask 2 questions
</li><li>
show the user's answers for them to check
</li><li>
show a confirmation page
</li>
</ul>
<p>
It will take about an hour to finish this tutorial, after you install the Prototype Kit.
</p>

<p>
Our prototype will look a bit like this:
</p>


<figure>

    <p><img style="max-width: 100%;" src="/images/tutorial-overview.png" alt="The first page has the title 'Start page' with the button 'Start now'. This is linked to a second page with the title 'Question 1' and a 'Continue' button. This forks to 2 different pages. 1 is titled 'Ineligible'. 2 is titled Question 2. Question 2 is linked to a page titled 'Check answers'. This links to page 6, titled 'Complete'."></p>
    <figcaption class="govuk-body">Diagram of 6 pages connected together.</figcaption>
    </figure>


<h2>
Before you start
</h2>

<p>
Before you start, you must <a href="/install/simple">install</a> and run the NHS.UK prototype kit.
</p>

<p>
You'll also need a code editor. These two are popular, well established and fairly accessible:
</p>


<ul class="nhsuk-list nhsuk-list--bullet">
    <li><a href="https://code.visualstudio.com">VS Code</a></li>
    <li><a href="https://notepad-plus-plus.org">Notepad++</a> (Windows only)</li>
    </ul>


    <a class="nhsuk-button" href="open-prototype-in-editor">Start now</a>


{% endblock %}
