{% set pageTitle = "Let the user change their answers" %} {% set next = {
"title" : "Show different pages depending on user input" , "link" : "branching"
} %} {% set prev = { "title" : "Show the user’s answers on your ‘Check answers’
page" , "link" : "show-users-answers" } %} {% extends
'how-tos/build-basic-prototype/_BASE.njk' %} {% block makePrototype %}
<h2 id="make-the-change-links-work">Make the ‘Change’ links work</h2>
<p>
  Make the <strong>Change</strong> links on the ‘{{exampleCheckAnswers.title}}’
  page work by adding the right links.
</p>
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Find the value
    <code class="language-markup">data['{{exampleRadios.legend}}']</code>, then change the
    the <code class="language-markup">href</code> value from <code class="language-markup">'#'</code> to
    <code class="language-markup">'/{{exampleRadios.url}}'</code>
  </li>
  <li>
    Find the value
    <code class="language-markup">data['{{exampleTextArea.legend}}']</code>, then change the
    the <code class="language-markup">href</code> value from <code class="language-markup">'#'</code> to
    <code class="language-markup">'/{{exampleTextArea.url}}'</code>
  </li>
</ol>
<p>
  If you select a <strong>Change</strong> link, you’ll go back to the right
  question page, but your answer will not appear yet.
</p>
<h2 id="show-the-users-answer-in-question-1">
  Show the user’s answer in question 1
</h2>
<p>
  Radios and checkboxes have a
  <code class="language-markup">checked</code> option to set whether they are
  selected (checked) or not when the page loads.
</p>
<p>
  Open the <code class="language-markup">{{exampleRadios.url}}.html</code> file
  in your <code class="language-markup">app/views</code> folder.
</p>
<p>
  For each of the <code class="language-markup">items</code>, we’ll add a
  <code class="language-markup">checked</code> value, like this:
</p>
<pre tabindex="0"><code class="language-markup" >&#123;
  value: "yes",
  text: "Yes",
  checked: checked("magical-powers", "yes")
&#125;,
&#123;
  value: "no",
  text: "No",
  checked: checked("magical-powers", "no")
  &#125;,
  &#123;
  value: "not sure",
  text: "I'm not sure",
  checked: checked("magical-powers", "not sure")
  &#125;,
</code></pre>
<p>
  In each case make sure the spelling is exactly the same as the
  <code class="language-markup">value</code>.
</p>
<p>
  <a href="http://localhost:3000/{{exampleRadios.url}}"
    >Go to http://localhost:3000/{{exampleRadios.url}}</a
  >
  and check the journey works by selecting an answer, continuing to the next
  page, then going back.
</p>
<h2 id="show-the-users-answer-in-question-2">
  Show the user’s answer in question 2
</h2>
<p>
  Text inputs and textareas have a <code class="language-markup">value</code> to
  set what text appears in them when the page loads.
</p>
<p>
  Open the
  <code class="language-markup">{{exampleTextArea.url}}.html</code> file in your
  <code class="language-markup">app/views</code> folder.
</p>
<p>
  Go to  <code class="language-markup">id: "example",</code> and add a new line
  <code class="language-markup">value: data['{{exampleRadios.legend}}'],</code>
  like this:
</p>

<pre class="app-pre"><code class="language-markup" >&#123;&#123;
   textarea({
    name: "example",
    id: "example",
    value: data['details'],
    label: {
      text: "Tell us your symptoms of magical powers",
      classes: "nhsuk-label--l",
      isPageHeading: true
    }
  })

  &#125;&#125;</code></pre>

<p>
  <a href="http://localhost:3000/{{exampleTextArea.url}}"
    >Go to http://localhost:3000/{{exampleTextArea.url}}</a
  >
  and check it works by filling in an answer, continuing to the next page, going
  back, then refreshing your browser.
</p>

{% endblock %}
