{% set pageTitle = "Link your index page to your start page" %} {% set prev = {
"title" : "Show different pages depending on user input" , "link" : "branching"
} %} {% extends 'how-tos/build-basic-prototype/_BASE.njk' %} {% block
makePrototype %}

<p>
  You can route users from your service's index page to your start page. The
  index page is the page that loads when users
  <a href="http://localhost:3000">go to http://localhost:3000</a>.
</p>
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Open the <code class="language-markup">index.html</code> file in your
    <code class="language-markup">app/views</code> folder.
  </li>
  <li>
    Add an <code class="language-markup">&lt;a&gt;</code> tag that links to
    <code class="language-markup">/{{exampleStart.url}}</code>.
  </li>
</ol>
<p>
  You can now find out how to
  <a href="/how-tos/publish-your-prototype-online"
    >publish your prototype online</a
  >, so you can share it with your team or do user research.
</p>

{% endblock %}
