{% set pageTitle = "Open your prototype in your editor" %}
{% set next = { "title" : "Create pages" , "link" : "create-pages" } %}
{% set prev = { "title" : "Get started" , "link" : "index" } %}

{% extends 'how-tos/build-basic-prototype/_BASE.njk' %}

{% block makePrototype %}
<p>
  In your code editor, open your prototype folder. You will see the files and
  folders that you can edit in your prototype.
</p>
<h2 class="nhsuk-heading-m">Overview of folders in the prototype kit</h2>
<p>
  <code class="language-markup">/app</code> is for your work. Inside that
  folder:
</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li><code class="language-markup">views</code> is for HTML pages</li>
  <li>
    <code class="language-markup">assets</code> is for CSS, JavaScript, images
    and downloadable files
  </li>
  <li>
    <code class="language-markup">routes.js</code> is for advanced logic – for
    example, if a user should go to one page or another based on their answers (we'll cover this later)
  </li>
  <li>
    <code class="language-markup">/docs/views/templates</code> has template
    pages for you to copy into your prototype
  </li>
</ul>

{% endblock %}
