{% set pageTitle = "Use components from the design system" %} {% set next = {
"title" : "Add a textarea to question 2" , "link" : "use-components-2" } %} {%
set prev = { "title" : "Link your pages together" , "link" :
"link-pages-together" } %} {% extends 'how-tos/build-basic-prototype/_BASE.njk'
%} {% block makePrototype %}

<p>
  You can copy example code from the NHS design system to add page elements like
  radios and text inputs. We call these "components".
</p>
<h2 id="html-and-nunjucks">HTML and Nunjucks</h2>
<p>HTML is the language used to create web pages.</p>
<p>
  Nunjucks is another language we can run in the prototype kit, to make HTML for
  us. Short, simple Nunjucks code can create much longer, more complex HTML.
</p>
<p>
  In the design system, components have both Nunjucks and HTML example code.
  Either will work in the prototype kit.
</p>
<h2 id="add-radios-to-question-1">Add radios to question 1</h2>
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Go to the
    <a href="https://service-manual.nhs.uk/design-system/components/radios"
      >radios component in the design system</a
    >.
  </li>
  <li>
    Select the <strong>Nunjucks</strong> tab under the 3rd example, then
    <strong>Copy code</strong>.
  </li>
  <li>
    Open <code class="language-markup">{{exampleRadios.url}}.html</code> in your
    <code class="language-markup">app/views</code> folder.
  </li>
  <li>
    Replace the code from
    <code class="language-markup">&lcub;&lcub; radios({</code> to when it finishes on <code class="language-markup">}) &rcub;&rcub;</code>
    with the code you copied.
  </li>
  <li>
    Delete the example
    <code class="language-markup">&lt;p&gt;...&lt;/p&gt;</code> paragraph at the bottom of the page.
  </li>
</ol>
<h3 id="customise-the-example-code">Customise the example code</h3>
<ol class="nhsuk-list nhsuk-list--number">
<li>Delete the three lines starting with <code class="language-markup">&#123;% from %&#125;</code>.</li>
  <li>
    Under <code class="language-markup">legend</code>, change
    <code class="language-markup">text</code> from "Do you know your NHS
    number?" to "{{exampleRadios.title}}".
  </li>
  <li>
    Change <code class="language-markup">name</code> to
    <code class="language-markup">{{exampleRadios.legend}}</code>.
  </li>
  <li>
    Delete the code from
    <code class="language-markup">&#123;% set hint %&#125;</code>...<code class="language-markup">&#123%- endset %}</code> code.
  </li>
  <li>
    In the <code class="language-markup">hint: &#123; html:</code> area replace
    <code class="language-markup">hintHtml</code> and add "For example, things moving when you have strong feelings or hearing
      someone's thoughts".
  </li>
</ol>
<p>Your component code should now look like this:</p>

<pre
  class="app-pre language-markup"><code class="language-markup" >&#123;{ radios({
  idPrefix: "example-hints",
  name: "example-hints",
  fieldset: {
    legend: {
      text: "Do you know your NHS number?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  hint: {
    html: "For example, things moving when you have strong feelings or hearing someone's thoughts."
  },
  items: [
  {
    value: "yes",
    text: "Yes, I know my NHS number"
  },
  {
    value: "no",
    text: "No, I do not know my NHS number"
  },
  {
    value: "not sure",
    text: "I'm not sure"
  }
]
}) &#125;&#125;</code></pre>

<p>Your page should now look like this:</p>
<figure class="nhsuk-figure">
  <img
      src="/images/tutorial-radios.png"
      class="nhsuk-figure__image"
      alt='Web page with the heading "Have you had symptoms of magical power in the last 30 days?", 3 radios and a continue button'
    />
  <figcaption class="nhsuk-figure__caption">
    Screenshot of how your prototype should look.
  </figcaption>
</figure>

{% endblock %}
