{% extends "layout.html" %}

{% block pageTitle %}
  Example - Branching
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/how-tos",
    text: "Guides"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="/examples/branching/answer" method="post">

        {{ radios({
          fieldset: {
            legend: {
              text: "Do you know your NHS number?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          idPrefix: "know-nhs-number",
          name: "know-nhs-number",
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
