{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Service name goes here
      </h1>

      <p>You can use this service if you:</p>

      <ul>
        <li>live in England</li>
        <li>need to get a thing</li>
        <li>need to change a thing</li>
      </ul>

      <h2 class="nhsuk-heading-m">Before you start</h2>
      
      <p>We'll ask you for: ...</p>

      <a href="/templates/question-page" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
