{% extends 'layout.html' %}

{% block pageTitle %}
  How to guides - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">
      <h1>Guides</h1>

      <p class="nhsuk-lede-text">These guides will show you how to use the prototype kit, from creating a simple page to building complex user journeys.</p>
</div>
    </div>

</div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-half">
      <h2 class="nhsuk-heading-s">Download and install</h2>

      <ul class="nhsuk-list">
        <li>
          <a href="/install/index">Get started</a>
          <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          <a href="/install/simple">Install guide</a>
        </li>
        <li>
          <a href="/install/advanced">Advanced install guide</a>
        </li>
        <li>
          <a href="/install/nhs-england-windows-laptops">Set up the prototype kit on an NHS England Windows laptop</a>
        </li>
        </ul>
      </li>
      </ul>


      <h2 class="nhsuk-heading-s">Build a basic prototype tutorial</h2>
      <ul class="nhsuk-list">
        <li>
          <a href="/how-tos/build-basic-prototype/index">Before you start the tutorial</a>
          <ol class="nhsuk-list nhsuk-list--number">
            <li>
              <a href="/how-tos/build-basic-prototype/open-prototype-in-editor">Open your prototype in your editor</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/create-pages">Create pages</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/link-pages-together">Link your pages together</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/use-components">Use components from the design system</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/show-users-answers">Show the user's answers</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/let-user-change-answers">Let the user change their answers</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/branching">Show different pages depending on user input (branching)</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/link-index-page-start-page">Link your index page to your start page</a>
            </li>
          </ol>
        </li>
      </ul>

    </div>
    <div class="nhsuk-grid-column-one-half">

        <h2 class="nhsuk-heading-s">General use</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/making-pages">Making pages</a></li>
        <li><a href="/how-tos/adding-assets">Adding CSS, JavaScript and images</a></li>
        <li><a href="/how-tos/components">Using components</a></li>
        <li><a href="/how-tos/passing-data-page">Passing data page to page</a></li>
        <li><a href="/how-tos/branching">Branching</a> – show a different page based on user input</li>
      </ul>

        <h2 class="nhsuk-heading-s">Share your prototype</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/git">Setting up Git</a></li>
        <li><a href="/how-tos/publish-your-prototype-online">Publish your prototype online</a></li>
      </ul>

        <h2 class="nhsuk-heading-s">Updating the kit</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/updating-the-kit">Updating the kit</a></li>
      </ul>

        <h2 class="nhsuk-heading-s">Advanced use</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/switching-from-govuk-prototype-kit">Switching from the GOV.UK Prototype Kit</a></li>
      </ul>

    </div>

  </div>
{% endblock %}
