{% extends 'layout.html' %}

{% block pageTitle %}
  How to guides - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Guides</h1>

      <p class="nhsuk-lede-text">These guides will show you how to use the prototype kit, from creating a simple page to building complex user journeys.</p>

      <h2>Build a basic prototype</h2>
      <ul class="nhsuk-list">
        <li>
          <a href="/how-tos/build-basic-prototype/index">Before you start the tutorial</a>
          <ol class="nhsuk-list nhsuk-list--number">
            <li>
              <a href="/how-tos/build-basic-prototype/open-prototype-in-editor">Open your prototype in your editor</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/create-pages">Create pages</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/link-pages-together">Link your pages together</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/use-components">Use components from the Design System</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/show-users-answers">Show the user's answers</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/let-user-change-answers">Let the user change their answers</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/branching">Show different pages depending on user input (branching)</a>
            </li>
            <li>
              <a href="/how-tos/build-basic-prototype/link-index-page-start-page">Link your index page to your start page</a>
            </li>
          </ol>
        </li>
      </ul>


      <h2>Learn the basics</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/making-pages">Making pages</a></li>
        <li><a href="/how-tos/adding-assets">Adding CSS, JavaScript and Images</a></li>
        <li><a href="/how-tos/components">Using components</a></li>
      </ul>

      <h2>Create journeys with data</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/passing-data-page">Passing data page to page</a></li>
        <li><a href="/how-tos/branching">Branching</a><br><span class="nhsuk-body-s">(show a different page based on user input)</span></li>
      </ul>

      <h2>Share your prototype</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/git">Setting up Git</a></li>
        <li><a href="/how-tos/publish-your-prototype-online">Publish your prototype online</a></li>
      </ul>

      <h2>Updating the kit</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/updating-the-kit">Updating the kit</a></li>
      </ul>

      <h2>Advanced usage</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/switching-from-govuk-prototype-kit">Switching from the GOV.UK Prototype Kit</a></li>
      </ul>

    </div>

  </div>
{% endblock %}
