{% extends 'layout.html' %}

{% block pageTitle %}
  Updates - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Updates</h1>

      <p class="nhsuk-lede-text">Changes made in each major and minor version.</p>

      <h2>5.1.0 – 12 November 2024</h2>

      <ul>
        <li>The guidance and tutorials were removed from the kit and are now hosted separately as part of this website</li>
        <li>NHS frontend updated to 9.1.0</li>
        <li>Errors are now shown in the terminal when session data defaults crashes</li>
      </ul>

      <h2>5.0.0 – 15 October 2024</h2>

      <ul>
        <li>NHS frontend updated to 9.0.1 - see <a href="https://github.com/nhsuk/nhsuk-frontend/releases/tag/v9.0.0">version 9.0.0 release notes</a> for details on the breaking changes</li>
        <li>The <code>outerContent</code> block has been dropped - use <code>beforeContent</code> block for both breadcrumbs and back links</li>
      </ul>

      <h2>4.12.0 - 15 August 2024</h2>

      <ul>
        <li>The username and password browser prompt replaced with a custom page that asks for a password only</li>
        <li>Console logging enabled for nodemon</li>
        <li>NHS frontend update to 8.3.0</li>
        <li>Fixed setting PORT via the command line</li>
      </ul>

      <h2>4.11.0 - 27 June 2024</h2>

      <ul>
        <li>Nunjucks caching disabled so changes to templates show immediately</li>
        <li>The server is no longer restarted whenever .html and .scss files are changed</li>
        <li>NHS website template updated to match the current live ones</li>
      </ul>

      <h2>4.10.0 - 22 February 2024</h2>

      <ul>
        <li>NHS frontend to updated to 8.1.0</li>
        <li>Node.js updated to version 20</li>
        <li>Minor bug fixes and template updatesx</li>
      </ul>

      <h2>4.9.0 - 1 June 2023</h2>

      <ul>
        <li>NHS frontend updated to 7.0.0</li>
        <li>Bug fixes and documentation updates</li>
      </ul>

      <h2>4.8.0 - 2 February 2022</h2>

      <ul>
        <li>NHS frontend updated to 6.1.0</li>
      </ul>

      <h2>4.7.0 - 22 September 2021</h2>

      <ul>
        <li>NHS frontend updated to 5.2.0</li>
      </ul>

      <h2>4.6.0 - 16 August 2021</h2>

      <ul>
        <li>Custom styles can be added on a per template basis with a new  <code>customStyles</code> template block.</li>
      </ul>

      <h2>4.5.0 - 26 July 2021</h2>

      <ul>
        <li>NHS website page examples and Google homepage template added</li>
      </ul>

      <h2>4.4.0 - 17 May 2021</h2>

      <ul>
        <li>NHS frontend updated to 5.1.0</li>
        <li>Dependency updates</li>
      </ul>

      <h2>4.3.0 - 16 March 2021</h2>

      <ul>
        <li>NHS frontend updated to 5.0.0</li>
        <li>Dependency updates</li>
      </ul>

      <h2>4.2.0 - 25 February 2021</h2>

      <ul>
        <li><code>outerContent</code> block added to template for content that needs to appear outside the <code>&lt;main&gt;</code> tag but inside <code>&lt;div class="nhsuk-width-container"&gt;</code></li>
        <li>Example page templates updated</li>
      </ul>

      <h2>4.1.0 - 21 January 2021</h2>

      <ul>
        <li>NHS frontend updated to 4.1.0</li>
        <li>Dependency updates</li>
      </ul>

      <h2>4.0.0 - 27 October 2020</h2>

      <ul>
        <li>Removed custom Phase banner component</li>
        <li>Removed custom Tag component</li>
        <li>Updated the class names for the Confirmation panel which now uses the Card component</li>
        <li>Removed the custom panel confirmation styles</li>
        <li>NHS frontend updated to 4.0.0</li>
        <li>Dependency updates</li>
      </ul>

      <p class="nhsuk-u-margin-top-6">For details of changes before 4.0.0, see the <a href="https://github.com/nhsuk/nhsuk-prototype-kit/blob/main/CHANGELOG.md">full NHS prototype kit changelog on GitHub</a>.</p>

    </div>
  </div>
{% endblock %}
