{% extends 'layout.html' %}

{% block pageTitle %}
  Mini hub - Page 3
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/templates/mini-hub",
    text: "Main page"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Page 3 heading
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section title
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/templates/mini-hub",
            text: "Main page"
          },
          {
            href: "/templates/mini-hub/page-2",
            text: "Page 2"
          },
          {
            href: "/templates/mini-hub/page-3",
            text: "Page 3",
            current: "true"
          }
        ]
      }) }}

      <p>
        [Page content goes here]
      </p>

      <p>
        [Visit the
        <a href="https://service-manual.nhs.uk">NHS digital service manual</a>
        for guidance and examples.]
      </p>

      {{ pagination({
        "previousUrl": "/templates/mini-hub/page-2",
        "previousPage": "Page 2"
      }) }}

    </div>
  </div>
{% endblock %}
