{% extends 'layout.html' %}

{% block pageTitle %}
  About - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>About</h1>

      <p class="nhsuk-lede-text">The NHS prototype kit enables you to make interactive prototypes that look like NHS services, such as the NHS website (<a href="http://nhs.uk">www.nhs.uk</a>). The prototypes you make are a great way to show ideas to others and for conducting user research.</p>

      <h2>Support</h2>

      <p>View our <a href="/support">support</a> section.</p>

      <h2 id="contributing">Contributing</h2>

      <p>The prototype kit is always evolving as we learn more. Help us to improve and grow it by:</p>

      <ul>
        <li><a href="https://nhs-service-manual.slack.com/messages/CFYL2GDGW" rel="nofollow">getting in touch on the NHS digital service manual #prototype-kit Slack channel</a></li>
        <li><a href="https://github.com/nhsuk/nhsuk-prototype-kit/issues/new/choose">reporting or creating a issue in GitHub</a></li>
      </ul>

      <h2>Privacy</h2>

      <p>You must protect user privacy at all times, even when using prototypes. Prototypes made with the kit look like NHS services, but do not have the same security provisions. Always make sure you are handling user data appropriately.</p>

      <h2>The kit is not a production framework</h2>

      <p>Things made with the kit may look like NHS services, but do not have production code and likely are not fully accessible. Do not use the kit as a base for a production service.</p>

    </div>

  </div>
{% endblock %}
