<!-- Extends the layout from /views/template.html -->
{% extends "template.html" %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/prism.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ header({
    homeHref: "/",
    ariaLabel: "NHS Prototype Kit homepage",
    service: {
      name: serviceName
    },
    showNav: "true",
    primaryLinks: [
      {
        label: "Get started",
        url: "/install"
      },
      {
        label: "Guides",
        url: "/how-tos"
      },
      {
        label: "Support",
        url: "/support"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: "About",
        URL: "/about"
      },
      {
        label: "Support",
        URL: "/support"
      },
      {
        label: "Updates",
        URL: "/whats-new/updates"
      },
      {
        label: "NHS prototype kit on GitHub",
        URL: "https://github.com/nhsuk/nhsuk-prototype-kit"
      },
      {
        label: "Cookies",
        URL: "/cookies"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
