{% extends 'layout.html' %}

{% block pageTitle %}
  Page templates - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Page templates</h1>

      <p>You can find some example templates for pages in the <strong>/lib/example-templates</strong> folder within your prototype (or /docs/templates in older versions of the kit).</p>

      <p>These include:</p>

      <ul>
        <li>content pages</li>
        <li>question pages</li>
        <li>check your answers</li>
        <li>a confirmation page</li>
      </ul>

      <p>To use one, copy and paste it from there into your <strong>/app/views</strong> folder.</p>

      <p>There are also some templates for <a href="https://service-manual.nhs.uk/design-system/patterns">common patterns</a> in the NHS service manual.</p>

      <h2 class="nhsuk-heading-m">NHS website pages</h2>

      <p>If you are prototyping a service which includes pages on the NHS website, you can use these additional templates:</p>

      <ul class="nhsuk-list">
        <li><a href="/templates/nhsuk-homepage">NHS website homepage</a></li>
        <li><a href="/templates/nhsuk-healthaz">Health A to Z</a></li>
        <li><a href="/templates/nhsuk-livewell">Live Well</a></li>
        <li><a href="/templates/nhsuk-mentalhealth">Mental health</a></li>
        <li><a href="/templates/nhsuk-socialcare">Care and support</a></li>
        <li><a href="/templates/nhsuk-pregnancy">Pregnancy</a></li>
        <li><a href="/templates/nhsuk-nhs-services">NHS services</a></li>
        <li><a href="/templates/nhsuk-coronavirus-hub">Coronavirus hub</a></li>
      </ul>

    </div>

  </div>
{% endblock %}
