{% extends 'layout.html' %}

{% block pageTitle %}
  Support - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl" id="support">Support</h1>
      <p class="nhsuk-lede-text">The NHS prototype kit is maintained by the <a href="https://service-manual.nhs.uk/service-manual-team">service manual team at NHS England</a> with help from community contributors.</p>

      <h2 class="nhsuk-heading-m">Get support or ask a question</h2>

      <h3 class="nhsuk-heading-s">Email</h3>
      <p><a href="mailto:england.service-manual@nhs.net?subject=NHS%20prototype%20kit%20-%20About">england.service-manual@nhs.net</a></p>

      <h3 class="nhsuk-heading-s">Slack</h3>

      <ul class="nhsuk-list">
        <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C042J3MTJG2">NHS England #prototype-kit channel</a></li>
        <li><a href="https://nhs-service-manual.slack.com/messages/CFYL2GDGW">NHS digital service manual #prototype-kit channel</a></li>
      </ul>

      <h3 class="nhsuk-heading-s">GitHub</h3>

      <p><a href="https://github.com/nhsuk/nhsuk-prototype-kit/issues/new/choose">Report a bug or issue</a> - you will need a free GitHub account</p>


    </div>

  </div>
{% endblock %}
